*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/* /////////////////////////////////////// */
span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger {
    font-size: 10px;
}
i.fa-solid.fa-cart-plus.position-relative {
    font-size: 25px;
}
.logo img {
    width: 50%;
}
.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 29px;
    color: #222;
    font-weight: 600;
}
.menu ul {
    list-style: none;
    text-align: center;
}
.header {
    background: #d1e3e5;
}
div#wooCart {
    cursor: pointer;
}
/* Side Bar */
.cart-items-js{
    width: 0px;
    display: none;
}
.cart-items {
    background: #d1e3e5;
    width: 350px;
    height: 700px;
    position: fixed;
}
.cart-items h4 {
    text-align: center;
    padding-top: 20px;
}
.side-bar {
    background: #d1e3e5;
    padding: 9px;
    height: 680px;
    width: 290px;
    border-radius: 10px;
    margin-top: 20px;

}
.side-bar h2 {
    text-align: center;
    margin-top: 20px;
}
button.btn.btn-danger {
    display: block;
    margin: auto;
    margin-top: 50px;
}
.add-items img {
    width: 20%;
    border: 2px solid #ffc107;
    border-radius: 10px;
}
.add-items p {
    font-weight: 600;
    padding-top: 16px;
}
.add-items {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
}
.add-items i {
    color: #e11313;
}
.items-price {
    padding: 14px;
    margin-top: 14px;
    background: #2c494c;
    border-radius: 10px;
}
.items-price p {
    font-size: 18px;
    color: #ff9c10;
}
hr {
    border: 1px solid #fff;
}
span.dollor {
    float: right;
}
.top-border {
    border-top: 1px solid #6c757d;
}